<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Article List</title>
</head>
<body>
    <main>
        <h1>Article List</h1>
        <div class="articles">
            {% for article in articles %}
                <div class="article__item">
                    <h2>
                        <a href="{% url 'articles:detail' slug=article.slug %}">
                            {{ article.title }}
                        </a>
                    </h2>
                    <p>
                        {{ article.snippet }}
                    </p>
                    <time>
                        {{ article.date }}
                    </time>
                </div>
            {% empty %}
                <p>No articles found.</p>
            {% endfor %}
        </div>
    </main>
</body>
</html> 