{% extends "base_layout.html" %}

{% block title %}Confirm Delete: {{ article.title }}{% endblock title %}

{% block content %}
    <div class="article-confirm-delete">
        <h1>Are you sure you want to delete "{{ article.title }}"?</h1>
        <form class="form" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Yes, Delete</button>
            <a href="{% url 'articles:detail' slug=article.slug %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
{% endblock content %} 